* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgba(0, 0, 0, 0.784);
}

#container {
    width: 960px;
    margin: 0 auto;
    border: 1px solid #00ff91;
}

#header {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #00453f;
}

#header img {
    width:250px;
    height: 250px;
    border-radius: 50%;
    border: 20px solid rgb(255, 0, 0);
}

#header img:hover{
    transition: 5s;
    transform: rotate(360deg);
}

#header h1 {
    padding-top: 30px;
    color: #fff;
}
#content {
    background-color: #00453f;
    color: rgb(255, 255, 255);
    padding: 50px;
}

#content h2 {
    text-align: center;
}

#content #intro {
padding-top: 20px;
}
#content #overig {
padding-top: 20px;
}
#content #kennis {
padding-top: 20px;
}
#content #kennis ul {
    padding-left: 15px;
}
#experimental {
    background-color: #00453f;
    height: 500px;
    padding: 50px;
}
#experimental h2 {
    text-align: center;
   
}
#footer {
    background-color: #101419;
    height: 100px;
    color: #fff;
    text-align: center;
    padding-top: 20px;
}
#footer ul {
    display: block;
    padding-top: 10px;
}
#footer ul li {
    display: inline-block;
}

#footer ul li a {
    padding: 10px;
}
